<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Saddest CodeEditor - New File</title>
    <link rel="icon" href="/images/favicon.jpg">
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>  
    <div class="main">
    <div class="welcome">
        <i class="fab fa-centercode fa-2x" style="color: #845ef7;"></i></h1>
    </div>
    <div class="editor-p">
        <textarea class="editor" placeholder="write code here;)" spellcheck="false" autocomplete="off"></textarea>
    </div>
    <div class="footer">
        <p>Running The Saddest Code Editor <%= ver %><br><br>Made with <i class="fal fa-coffee fa-2x" style="color: #ff922b;"></i>, <i class="fab fa-node fa-2x" style="color:#51cf66"></i>, Express.JS and EJS</p>
    </div>
</div>
</body>
</html>