body {
    background-color: #001b33;
}
.welcome {
    color: #eff7e1;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}
.lorem {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.logo {
    color: #FFF;
   font-size: 16px;
}
.footer {
    color: azure;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.btn {
     border: 1px solid #FFF;
    border-radius: 5px;
    color: #000;
    display: block;
    margin: auto; 
        
    /* .btn { font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 1.76px;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 500px;
        color: #fff;
        -webkit-transition: all 33ms cubic-bezier(.3,0,0,1);
        transition: all 33ms cubic-bezier(.3,0,0,1);
        will-change: transform;
        white-space: nowrap;
        padding: 8px 34px;
        display: block;
        margin: auto;
        cursor: pointer;
        text-align: center;
        color: #FFF;
        background-color: #000; 
    }*/
}
/* .btn:hover {
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    border: 2px solid;
    size: 32px;
} */
.main {
    background-color: #1a1a1a;
    margin-top: 5px;
}
i {
    margin-top: 3px;
}
a {
    text-decoration: none;
}
.editor-p {
    background-color: #212121;
}
.editor {
   background-color: #111d5e;
   color: #FFF;
   border-radius: 5px;
   font-family: 'Roboto Mono', monospace;
   width: 100%;
   height: 700px;
   resize: none;
   outline: none;
  -moz-appearance: none;
}
